* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body,
input,
select,
button {
   font-family: "Open Sans", sans-serif;
   font-size: 1rem;
   line-height: 1;
}

.main-content {
   max-width: 1280px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 7.5rem;
}

/* banner section */

.banner {
   margin-top: 3.125rem;
   height: 37.5rem;
   border-radius: 1rem;
   background-image: linear-gradient(180deg, #070211, #07021100 100%),
      url("resources/Banner\ Image.png");
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.banner-subtitle {
   color: #fff;
   font-size: 2rem;
   font-weight: normal;
   line-height: normal;
}

.banner-title {
   color: #fff;
   font-size: 4.5rem;
   max-width: 40.625rem;
}

/* advertise section */
.advertise {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.advertise > h1 {
   font-size: 5.5rem;
}

.advertise > h3 {
   font-size: 3rem;
   margin-bottom: 2rem;
}

.advertise > p {
   margin-top: 2rem;
   margin-bottom: 0.5rem;
   font-size: 1.5rem;
}

.advertise > img {
   width: 50rem;
   height: auto;
}

/* event section */
.event-section {
   background-image: url("resources/2024-icon.png"),
      linear-gradient(90deg, #070211 0%, #07021100 100%),
      url("resources/party-people.png");
   background-repeat: no-repeat;
   background-size: auto 75%, cover, cover;
   background-position: right 8.125rem center, center center, center center;
   height: 37.5rem;
   color: white;
   border-radius: 1rem;
   padding: 7.5rem;
}

.event-section > a {
   color: white;
   text-decoration: none;
   font-weight: 700;
   /* padding: 1rem 2rem;
   border-radius: 99999px;
   border: 1px solid #8e8e8e; */
}

.event-section > h1 {
   font-size: 4rem;
   max-width: 40rem;
   letter-spacing: 0.375rem;
}

.event-section > p {
   font-weight: lighter;
   font-size: 1.25rem;
   max-width: 42rem;
   line-height: 1.5;
   margin: 1.5rem 0 3rem;
}

/* schedule section */
.schedule-section {
   padding: 7.5rem;
   background-image: linear-gradient(to bottom, #ff00001a, #ff000000);
   border-radius: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.schedule-section > h2 {
   font-weight: normal;
   font-size: 2rem;
}

.schedule-section > .time {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
}

.schedule-section > button {
   background-color: #ff0000;
   color: white;
   border-radius: 0.5rem;
   margin-top: 3rem;
   padding: 1rem 2rem;
   border: 0;
}

/* round section */
.round-section {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 3rem;
   align-items: center;
}

.round-section > .circle {
   border: 0.75rem solid #ff0000;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1.5rem;
}

.round-section > .left > h1 {
   font-size: 3rem;
   margin-top: 1rem;
   margin-bottom: 1.5rem;
}

.round-section > .left > p {
   line-height: 1.5;
}

.round-section > .left > h4 {
   font-weight: normal;
   font-size: 1.5rem;
}

.round-section > .right > h2 {
   font-size: 3rem;
}

.round-section > .right > p {
   line-height: 1.5;
   margin-top: 1rem;
   margin-bottom: 2rem;
}

/* discount section */

.discount-section > .discount-texts > h1 {
   font-size: 4.5rem;
   margin-top: 1rem;
   margin-bottom: 2rem;
}

.discount-section > .discount-texts > h4 {
   font-size: 1.5rem;
   font-weight: normal;
}

.discount-section > .discount-texts > p {
   line-height: 1.5;
   margin: 0 auto 4rem;
   max-width: 66.75rem;
}

.discount-images {
   display: grid;
   justify-items: end;
}

.discount-images .fifty-discount {
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
   left: 0;
   height: 13.75rem;
   width: 13.75rem;
}

.discount-images .giftbox {
   position: absolute;
   bottom: 0;
   left: 0;
}

/* Portfolio section */
.portfolio-section > h4 {
   font-size: 1.5rem;
   font-weight: normal;
   margin-bottom: 1rem;
}

.portfolio-section > h1 {
   font-size: 3rem;
   margin-bottom: 1.5rem;
}

.portfolio-section > p {
   line-height: 1.5;
   max-width: 60rem;
   margin-bottom: 3rem;
}

.portfolio-section > .products {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1.5rem;
}

/* Newsletter Section */
.newsletter-section {
   background-color: rgba(255, 0, 0, 0.05);
   display: grid;
   justify-items: center;
   border-radius: 1rem;
   padding: 5rem;
}

.newsletter-section > .input-box > .input-field {
   border-radius: 9999px;
   border: 0;
   padding: 1.5rem 2rem;
   width: 40.5rem;
}

.newsletter-section > h1 {
   font-size: 2.75rem;
   margin-top: 2rem;
}

.newsletter-section > p {
   margin-top: 1.75rem;
   margin-bottom: 3rem;
   max-width: 52rem;
   line-height: 1.5;
   color: #5c5c5c;
}

.newsletter-section > .input-box {
   position: relative;
}

.newsletter-section .submit-button {
   background-color: #ff0000;
   color: white;
   border-radius: 0 3.125rem 3.125rem 0;
   border: 0;
   position: absolute;
   right: 0;
   height: 100%;
   padding: 0 3.5rem;
}

/* footer section */
.footer {
   background-color: #070211;
   color: white;
   padding: 7.5rem 0;
}

.footer-section {
   max-width: 1280px;
   margin: 0 auto;
}

.footer-section > header {
   display: flex;
   justify-content: space-between;
   margin-bottom: 3.125rem;
}

.footer-section > header > p {
   max-width: 22rem;
   line-height: 1.5;
}

.footer-section > header > ul {
   display: grid;
   gap: 8px;
}

.footer-section > header > ul > li {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.footer-section .web-link {
   text-decoration: none;
   color: white;
}

.social-links {
   display: flex;
   justify-content: center;
   gap: 1.5rem;
   padding-top: 3rem;
   padding-bottom: 3rem;
   border-top: 1px solid #ffffff26;
   border-bottom: 1px solid #ffffff26;
}

.footer-section > .bottom-box {
   margin-top: 3.125rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* ============================ */
/* atomic css */
.relative {
   position: relative;
}

.text-center {
   text-align: center;
}

.red-text {
   color: #ff0000;
}
