* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body,
input,
select,
button {
   font-family: "Open Sans", sans-serif;
   font-size: 1rem;
   line-height: 1;
}

.main-content {
   max-width: 1280px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 7.5rem;
}

/* banner section */

.banner {
   margin-top: 3.125rem;
   height: 37.5rem;
   border-radius: 1rem;
   background-image: linear-gradient(180deg, #070211, #07021100 100%),
      url("resources/Banner\ Image.png");
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.banner-subtitle {
   color: #fff;
   font-size: 2rem;
   font-weight: normal;
   line-height: normal;
}

.banner-title {
   color: #fff;
   font-size: 4.5rem;
   max-width: 40.625rem;
}

/* advertise section */
.advertise {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.advertise > h1 {
   font-size: 5.5rem;
}

.advertise > h3 {
   font-size: 3rem;
   margin-bottom: 2rem;
}

.advertise > p {
   margin-top: 2rem;
   margin-bottom: 0.5rem;
}
.advertise > img {
   width: 50rem;
   height: auto;
}

/* atomic css */

.text-center {
   text-align: center;
}
.red-text {
   color: #ff0000;
}
